@model dynamic
@{ViewData["Title"] = "Main";}
@ViewData["error"]

<style>

td { 
    background-color: black;
    color:white;
    text-align: center; }

table{
    margin-bottom:30px;
}

.user-area{
    position: relative;
    height:10%;
    background-color: red;

}

.subscription-area{
    position: relative;
    top:15%;
    background-color: blue;

}

.query-area{
    position:relative;
    background-color:green;
    margin-bottom:30px;

}

.logout-link{
    position: relative;
    font-size: 30px;
}
</style>

<div class="user-area">
    <h1 class="display-4"> Welcome @ViewData["username"]</h1>
</div>

<div class="logout-link">
    <a asp-area="" asp-controller="Home" asp-action="Index" class="Button">Logout</a>
</div>

<div class="subscription-area">
    <h1 class="display-4">Subscription Area</h1>

    <thead>
        <tr>
                <th>
                    <a>Title</a>
                </th>
                <th>
                    <a> Year</a>
                </th>
                <th>
                    <a>Artist</a>
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.subs) {
        <tr>
            <td>
                @item.title
            </td>
            <td>
                @item.year
            </td>
            <td>
                @item.artist
            </td>
            <td>
                <img src="@item.img_url">
                
            </td>
            <td>
                <a asp-area="" asp-controller="Main" asp-action="subscribe" asp-route-id="@item.title" class="Button">Subscribe</a>
            </td>
        </tr>
        }
    </tbody>
</div>

<div class="query-area">
    <h1 class="display-4">Query Area</h1>
    <div class ="query-form">
        <form method="POST">
            <label for="title">Title</label><br>
            <input type="text" id="title" name="title"><br>
            <label for="year">Year</label><br>
            <input type="text" id="year" name="year"><br>
            <label for="artist">Artist</label><br>
            <input type="text" id="artist" name="artist"><br>
            <input type="submit" value="Query">
        </form> 
    </div>
    
    <table class="query-table">
    <thead>
        <tr>
                <th>
                    <a>Title</a>
                </th>
                <th>
                    <a> Year</a>
                </th>
                <th>
                    <a>Artist</a>
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.music) {
        <tr>
            <td>
                @item.title
            </td>
            <td>
                @item.year
            </td>
            <td>
                @item.artist
            </td>
            <td>
                <img src="@item.img_url">
                
            </td>
            <td>
                <a asp-area="" asp-controller="Main" asp-action="subscribe" asp-route-id="@item.title" class="Button">Subscribe</a>
            </td>
        </tr>
        }
    </tbody>

</div>







