@model IEnumerable<Models.music>
@{ViewData["Title"] = "Main";}
@ViewData["error"]

<style>
.user-area{
    position: absolute;
    height:10%;
    background-color: red;

}

.subscription-area{
    position: absolute;
    top:15%;
    background-color: blue;

}

.query-area{
    position: absolute;
    top:50%;
    background-color:green;

}
</style>

<div class="user-area">
    <h1 class="display-4"> Welcome @ViewData["username"]</h1>
</div>
<div class="subscription-area">
    <h1 class="display-4">Subscription Area</h1>
</div>
<div class="query-area">
    <h1 class="display-4">Query Area</h1>
    <div class ="query-form">
        <form method="POST">
            <label for="title">Title</label><br>
            <input type="text" id="title" name="title" required>
            <label for="year">Year</label><br>
            <input type="text" id="year" name="year" required>
            <label for="artist">Artist</label><br>
            <input type="text" id="artist" name="artist" required>
            <input type="submit" value="Query">
        </form> 
    </div>
    
    <table class="table">
    <thead>
        <tr>
                <th>
                    <a asp-action="Index">@Html.DisplayNameFor(model => model.title)</a>
                </th>
                <th>
                    <a asp-action="Index">@Html.DisplayNameFor(model => model.year)</a>
                </th>
               
                <th>
                    <a asp-action="Index">@Html.DisplayNameFor(model => model.artist)</a>
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.artist)
            </td>
            <td>
                <img src="@Html.DisplayFor(modelItem => item.img_url)" alt="Italian Trulli">
                
            </td>
            <td>
                <a asp-area="" asp-controller="Main" asp-action="subscribe" asp-route-id="@item.title" class="Button">Subscribe</a>
            </td>
        </tr>
}

</div>
<div class="logout-link">
    <a asp-area="" asp-controller="Home" asp-action="Index" class="Button">Logout</a>
</div>






